.portfolio{
    height:1400px;
}

@media (min-width: 600px){
    .portfolio{
        height: 1050px;
    }
}
@media (min-width: 1000px){
    .portfolio{
        height:950px;
    }
}
.portfolio_trabajo-conteiner{
    height: 750px;
    background-color:#B1F4CF;
    /* position: relative;
    top: 60px; */
}
.portfolio_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    color: #9890E3;
    text-align: center;
    padding: 50px;
}
@media (min-width: 600px){
    .portfolio_title {
        font-size: 32px;
    }
}
@media (min-width: 1000px){
    .portfolio_title {
        font-size: 36px;
    }
}
.portfolio_trabajos-triangles-conteiner{
   
    height: 750px;
    margin: 0 auto;
}
@media (min-width: 1000px){
    .portfolio_trabajos-triangles-conteiner {
        width: 1440px;
    }
}
.dulco-abajo{
    display: none;
}
.portfolio_trabajos-img-box {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    }
    @media (min-width: 600px){
        .portfolio_trabajos-img-box {
            display: flex;
            margin: 0 auto;
            justify-content: center;
            flex-direction: initial;
        }
        .dulco-abajo{
            display: initial;
        }
        .dulco-arriba{
            display: none;
        }
    }
    @media (min-width: 1000px){
        .dulco-abajo{
            display: none;
        }
        .dulco-arriba{
            display: initial;
        }
    }
.arriba{
    margin-top: 20px;
}
@media (min-width: 1000px){
    .arriba{
        margin-top: 60px;
    }
}

.portfolio_trabajo{
    margin: 20px;
    z-index: 5;
}
.portfolio_trabajo-type{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9890E3;
}
.triangles-left{
    position: relative;
    bottom: 1775px;
    right: 139px;
}
@media (min-width: 600px){
    .triangles-left{
        bottom: 1300px;
        right: -340px;
    }
}
@media (min-width: 1000px){
    .triangles-left{
        bottom: 860px;
        right: 215px;
    }
}

.triangles-rigth{
    position: relative;
    bottom: 720px;
    left: 218px;
}
@media (min-width: 600px){
    .triangles-rigth{
        left: -80px;
    }
}
@media (min-width: 1000px){
    .triangles-rigth{
        bottom: 920px;
        left: 1200px;
    }
}
.portfolio_trabajo-img{
    background: rgba(152, 144, 227, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    opacity: 0.8;
}
.portfolio_trabajo-img:hover {
   opacity: 1;
   z-index: 5;
   transition: opacity .5s;
   box-shadow: 0px 15px 15px rgba(152, 144, 227, 0.8);
}
.c_cuentos ,.f-chips{
    display: none;
}
@media (min-width: 600px){
    .c_cuentos{
        display: initial;
    }
    .c_cuentos-mini{
        display: none;
    }
}
@media (min-width: 1000px){
    .f-chips{
        display: initial;
    }
}

.portfolio_ver-mas{
    position: relative;
    bottom: 970px;
    left: 110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #B1F4CF;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
@media (min-width: 600px){
   .portfolio_ver-mas{
    bottom: 690px;
    left: 290px;
   }
}
@media (min-width: 1000px){
   .portfolio_ver-mas{
    bottom: 670px;
    left: 420px;
   }
}
  
.ver-mas-img{
    margin: 5px;
}