.select{
    color: #FFFFFF;
}
.header{
    height: 144px;
    background: #9890E3;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
    padding: 30px;
    z-index: 10;
}

@media (min-width: 600px){
  .about-me_buttons {
    width: 100%;
  }
}
header .logo{
    position: relative;
}


/* burguer------ */
.hamburger{
	/* position:fixed; */
  background-color:transparent;
  right: 40px;
  top: 40px;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
@media (min-width: 700px) {
    .hamburger{
     display: none;
    }
  }
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:white;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 700px) {
   .menuppal{
    background: rgba(152, 144, 227, 0.83);
    bottom: 0;
    height: 70%;
    /* right: 0; */
    right: 110px;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 50%;
    z-index: 1001;
    border-radius: 14px 14px 0;
}
.menuppal ul{
  margin:0;padding:0;
  flex-direction: column;
  align-items: flex-start;
}
.menuppal ul li { 
    list-style: none;
	text-align:center;
	font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
	text-transform:none;
	font-weight:bold;
    margin: 40px;
}
.menuppal ul li a{
  text-decoration:none;
  color: #FFFFFF;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#333;
}
  }

/* -------------------------- */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    /* .header ul {
      display: none;
    } */
  }

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #C9C8C8;
    margin: 0 15px;
    transition: 0.7s;
    text-decoration: none;
}

.content{
    padding: 150px;
    width: 800px;
    height: 900px;
   border: solid red;
}

.p {
 font-size: 20px;
 color: black;
}